@model assignment9.Models.Lover

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-4">
        <h4>@Html.DisplayNameFor(model => model.FavDog): </h4>
        <p>@Html.DisplayFor(model => model.FavDog)</p>
        <h4>@Html.DisplayNameFor(model => model.LastDog): </h4>
        <p>@Html.DisplayFor(model => model.LastDog)</p>
        <h4>@Html.DisplayNameFor(model => model.Date): </h4>
        <p>@Html.DisplayFor(model => model.Date)</p>
    </div>

    <div class="col-md-8">
        <h2>@Html.DisplayFor(model => model.Name)</h2><br />
        <p>@Html.DisplayFor(model => model.Bio)</p>
        <h4>@Html.DisplayNameFor(model => model.PastDog): </h4>
        <p>@Html.DisplayFor(model => model.PastDog)</p>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoverID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
